.armas-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2 1fr);
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  color: #ffcd21;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: .25rem .25rem 0 0 rgba(191, 31, 30, .2);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.armas-content p{
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: justify;
}

.armas-content p span{
  color: #ffcd21;
}
.armas-content p span::before{
  content: '\2705';
}
 .armas-picture{
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 2rem;
  
}
.armas-picture img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 .25rem .25rem 0 rgba(255, 205, 33, .7);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.armas-content .spec-list{
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: -2rem;
}
.spec-list li{
  padding: .5rem;
}
@media screen and (max-width:720px){
  .armas-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  color: #ffcd21;
  margin-bottom: 1rem;
  } 
  .armas-content p{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1rem;
    margin-top: -1rem;
  }
  .armas-picture{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 1rem .5rem;
  }
  .armas-content .spec-list{
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1rem;
    margin-bottom: -3rem;
  }
}