.arms-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 0 0 rgba(191, 31, 30, 0.2);
  border-radius: 1rem;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.arm-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.arm-description {
  grid-column: 1/3;
  grid-row: 2/3;
}
.arm-picture {
  position: relative;
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 1rem;
}
.arm-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.spec-list {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 1rem 0 2rem 1rem;
  margin-bottom: -2rem;
}
.spec-list li {
  padding: 0.2rem;
}

@media screen and (max-width: 768px) {
  .arms-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .arm-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .arm-description {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 1rem 0 0.5rem;
  }
  .arm-picture {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 1rem 2rem;
  }
  .arm-picture img {
    width: 100%;
    height: 80%;
  }
  .spec-list {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 1rem;
    margin: -4rem 0 -2rem 2rem;
  }
}
@media screen and (max-width: 480px) {
  .arm-picture {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .arm-picture img {
    width: 100%;
    height: 80%;
  }
  .spec-list {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 1rem;
    margin: -3rem 1rem -2rem 1.5rem;
    font-size: 0.8rem;
  }
}
