#footer {
  background-color: #2c313b;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}
#informacion {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1.2rem;
  text-align: justify;
  margin: 1rem;
}
#informacion #copy-r {
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: left;
  margin-top: 1rem;
}

#footer h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #ffcd21;
}
#description {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: justify;
  color: #fffafa;
}
#social-icons {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 1rem auto;
}

#social-icons a {
  display: inline-block;
  margin: 1rem;
  gap: 1rem;
  color: #ffcd21;
  font-size: 2rem;
  text-decoration: none;
}

#social-icons a:hover {
  color: #000;
}
@media screen and (max-width: 768px) {
  #social-icons {
    margin-top: 1rem;
  }
  #social-icons a {
    display: inline-block;
  }
  #description {
    font-size: 0.8rem;
  }

  #informacion #copy-r {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 480px) {
  #informacion h2 {
    margin-top: 0;
  }
  #social-icons {
    margin-top: 0.5rem;
  }
  #informacion h2 {
    margin-top: 0;
  }
  #social-icons a {
    display: inline-block;
    margin: 1rem;
    gap: 1rem;
  }
  #description {
    font-size: 0.8rem;
  }

  #informacion #copy-r {
    font-size: 0.8rem;
  }
}
