.modes-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #242424;
  padding: .5rem;
  margin: .5rem;
  cursor: pointer;
  border: .1rem solid  #bf1f1e;
  box-shadow: -.25rem -.15rem .15rem 0  rgba(191, 31, 3, .7);
  border-radius: .5rem;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.modes-details summary{
  color: #fffafa;
  margin: .2rem;
  text-align: center;
  list-style: none;
  outline: none;
  transition: transform 0.2s ease-in-out;
  transition-delay: 0.5s;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
}
.modes-details summary:hover{
  color: #ffcd21;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.modes-details  summary::before {
  content: '\1F3AE';
  margin-right: .5rem;
}
.modes-details[open] summary{
  opacity: 1;
  width: 40vw;
  height: 5vh;
  margin: auto;
  border-radius: .5rem;
  text-shadow: .1rem .1rem .3rem #ffcd21;
  box-shadow: .15rem .15rem .15rem 0 rgb(191, 31, 30);
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.modes-details p{
  padding-top: 1rem;
  margin-left: 1rem;
  text-align: justify;
  font-size: 1rem;
  border-top: .2rem solid #bf1f1e;
}
.modes-picture{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  margin: 1rem; 
  justify-content:center;
  align-items: center;
  
}
.modes-picture img{
  width: 100%;
  height: auto;
  border-radius: .5rem;
  box-shadow: 0 .25rem .25rem 0 rgb(255, 205, 33);
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.modes-picture img:first-child{
  grid-column: 1/2;
  grid-row: 1/2;
}
.modes-picture img:first-child{
  grid-column: 2/3;
  grid-row: 1/2;
}
.modes-details  ul{
  margin-left: 4rem;
  padding: 0 1rem; 
}
  
.modes-details ul li {
    margin: 1rem;
    padding: 0 1rem;
    padding-left: .1rem;
    font-size: 1rem;
    text-align: justify;
    
  }
  .modes-details span{
    color: #ffcd21;
  }

@media screen and (max-width: 768px){
  .section {
    width: 100%;
    margin: 1rem auto;    
  }
  .section  h2{
    font-size: 1rem;
    text-align: justify;
  }
  .section p{
    font-size: 1rem;
  }
  .modes-details ul li{
    font-size: .8rem;
    margin-left: -2rem;
    text-align: justify;
  }
}

